/**
 * The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar.
 *
 */

$lineHeightForNav: 70px;
$lineHeightForSearch: 50px;


header.menu {

    // ...
    width: 100%;
    position: relative;
    z-index: 10;

    div.menu-container {
        width: 100%;
        background-color: black;
        padding: 0 20px;
        text-align: left;
        
        div.menu-holder {
            position: relative;
            width: 100%;
            max-width: $siteWidth;
            margin: 0 auto;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            line-height: $lineHeightForNav;
            color: white;
            text-align: left;
            display: inline-block;
        }
        nav {
            display: inline-block;
            margin-left: 60px;

            i { 
                color: white; 
                font-size: 30px;
                line-height: $lineHeightForNav;
            }
            i.search {
                position: absolute;
                right: 10px;
                top: 0;
            }

            a.nav-item {
                font-family: Helvetica, Arial, Sans-Serif;
                font-size: 17px;
                line-height: $lineHeightForNav;
                text-transform: uppercase;
                text-decoration: none;
                white-space: nowrap;
                border-bottom: 1px solid transparent;
                color: #FFF;
                margin-right: 20px;
            }
        }
    }

    div.search-container {
        position: absolute;
        background-color: white;
        z-index: 20;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        padding: 5px;
        background-color: white;
        border-bottom: 1px solid #CCC;
        display: none;
        &.showing { display: block; }
        
        input[type='text'] {
            min-width: 100%;
            font-size: 36px;
            line-height: $lineHeightForSearch;
            border: 1px solid #CCC;
            padding: 0 10px;
        }

        i.close {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 36px;
            line-height: $lineHeightForSearch;
        }
    }

    .results-info {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0;
      }
    
      .search-results {
        display: flex;
        align-items: flex-start;
        width: 100%;
        z-index: 100;
        flex-wrap: wrap;
        background-color: white;
        font-family: Helvetica, Arial, Sans-Serif;
        overflow-x: auto;
        .result-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          width: 330px;
          height: 585px;
          margin: 6px;
          padding: 20px;
          .item-img {
            width: 290px;
            height: 330px;
            object-fit: contain;
            background-color: #eee;
            padding: 20px;
          }
          .item-price {
            color: #fc5531;
            font-weight: 400;
            font-family: Verdana;
            font-size: 24px;
            margin: 10px 0;
            span {
              font-size: 12px;
            }
          }
          .item-title {
            margin-bottom: 6px;
            height: 46px;
            font-family: Verdana;
            display: -webkit-box;				
            -webkit-box-orient: vertical;	
            line-clamp: 2;
            -webkit-line-clamp: 2;			
            overflow: hidden;			
            text-overflow: ellipsis;
          }
          .item-description {
            font-size: 14px;
            display: -webkit-box;				
            -webkit-box-orient: vertical;	
            line-clamp: 5;
            -webkit-line-clamp: 5;			
            overflow: hidden;			
            text-overflow: ellipsis;
          }
          .item-body {
            display: flex;
            padding: 4px;
          }
          .item-tag {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 8px;

            .tag {
              color: #d48806;
              background: #fffbe6;
              border-color: #ffe58f;
              border-width: 1px;
              border-style: solid;
              padding: 2px 8px;
              border-radius: 2px;
              margin-right: 3px;
              font-size: 12px;
            }
            .tag:last-child {
              color: #08979c;
              background: #e6fffb;
              border-color: #87e8de;
            }
            .tag:nth-child(even) {
              color: #531dab;
              background: #f9f0ff;
              border-color: #d3adf7;
            }
          }
        }
        .result-item:hover {
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        }
      }

}